# HTTP configuration
http.retries   = 5
http.timeout   = 10
http.useragent = Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0

# e-book configuration
ebook.author   = Stefan Becker
ebook.filename = comics.mobi

# image conversion
image.rotate = -90
image.scale  = x900
image.type   = png

# mail configuration
mail.from     = sender@domain.com
mail.to       = recipient@domain.com
mail.subject  = E-book: daily comics
mail.greeting = Here's your daily dosage
mail.host     = smtp.gmail.com
mail.port     = 587
mail.timeout  = 30
mail.password = TopSecretPassword
